body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

#page-container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

#content-wrap {
  grid-row: 2 / -2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 50px;
  text-align: center;
}

#center-img {
  margin-bottom: 30px;
  max-width: 100%;
  height: auto;
  position: relative;
  top: -20px;
  border-radius: 50%;
  object-fit: cover;
}

#styledText {
  position: relative;
  top: 110px;
}

#footer {
  background-color: #343a40;
  color: white;
  padding: 50px;
  text-align: center;
}
