* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root.dark {
  --border-btn: 1px solid rgb(220, 220, 220);
  --color-base-bg: rgb(18, 18, 18);
  --color-base-text: rgb(240, 240, 240);
  --color-btn-bg: rgb(36, 36, 36);
  --link-color: rgb(100, 149, 237);
}

:root.light {
  --border-btn: 1px solid rgb(36, 36, 36);
  --color-base-bg: rgb(240, 240, 240);
  --color-base-text: rgb(18, 18, 18);
  --color-btn-bg: rgb(220, 220, 220);
  --link-color: rgb(65, 105, 225);
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--color-base-bg);
  color: var(--color-base-text);
}

header {
  background-color: var(--color-btn-bg);
  padding: 1rem;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

nav ul li {
  margin-left: 1rem;
}

nav ul li a {
  color: var(--color-base-text);
  text-decoration: none;
  font-size: 1.1rem;
}

nav ul li a:hover {
  text-decoration: underline;
  color: var(--link-color);
}

main {
  padding: 1rem;
}

section {
  margin-bottom: 2rem;
}

h1, h2 {
  color: var(--color-base-text);
  margin-bottom: 1rem;
}

img {
  max-width: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

footer {
  background-color: var(--color-btn-bg);
  color: var(--color-base-text);
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
}

.theme-toggle {
  background-color: var(--color-btn-bg);
  border: var(--border-btn);
  font-size: 1.125rem;
  padding: 10px 20px;
  color: var(--color-base-text);
  cursor: pointer;
}

.theme-toggle:hover {
  background-color: var(--link-color);
}

.theme-toggle:focus {
  outline: var(--border-btn);
}

a, a:visited {
  color: var(--link-color);
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}


#project-img{
  max-width: 75px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

#logo-img{
  max-width: 40px;
  margin-bottom: 1rem;
}
